#s-f374f1c4-8589-433f-813a-888950db4cdc > #backgroundBox {
  position: absolute;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc > #alignmentBox {
  position: relative;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_1 {
  position: absolute;
  width: 1499.0000025166105px;
  min-height: 70.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_1 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_1 {
  position: absolute;
  width: 146.38671899576286px;
  min-height: 70.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_1 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_1 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_1 span#rtr-s-Text_1_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_2 {
  position: absolute;
  width: 146.38671899576298px;
  min-height: 70.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_2 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_2 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_2 span#rtr-s-Text_2_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_3 {
  position: absolute;
  width: 146.38671899576275px;
  min-height: 70.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_3 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_3 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_3 span#rtr-s-Text_3_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_4 {
  position: absolute;
  width: 146.38671899576275px;
  min-height: 70.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_4 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_4 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_4 span#rtr-s-Text_4_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_5 {
  position: absolute;
  width: 146.38671899576275px;
  min-height: 70.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_5 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_5 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_5 span#rtr-s-Text_5_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Image_2 {
  position: absolute;
  width: 19.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Image_2 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_2 {
  position: absolute;
  width: 1499.000005792107px;
  min-height: 245.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_2 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_2 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_6 {
  position: absolute;
  width: 182.98339914454434px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_6 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_6 span {
  color: #DDDDDD;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_6 span#rtr-s-Text_6_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_1 {
  position: absolute;
  width: 368.8945326754015px;
  min-height: 86.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_1 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_1 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 19px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 19px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_2 {
  position: absolute;
  width: 162.48925844035534px;
  min-height: 142.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_2 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_2 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Image_1 {
  position: absolute;
  width: 35.132812635752515px;
  height: 24.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Image_1 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Image_3 {
  position: absolute;
  width: 35.132812635752586px;
  height: 24.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Image_3 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Image_4 {
  position: absolute;
  width: 35.13281263575257px;
  height: 24.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Image_4 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_7 {
  position: absolute;
  width: 182.98339914454414px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_7 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_7 span {
  color: #DDDDDD;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_7 span#rtr-s-Text_7_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_8 {
  position: absolute;
  width: 182.98339914454436px;
  min-height: 17.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_8 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_8 span {
  color: #DDDDDD;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_8 span#rtr-s-Text_8_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_3 {
  position: absolute;
  width: 162.48925844035534px;
  min-height: 142.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_3 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_3 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 22px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 22px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Line_1 {
  position: absolute;
  width: 2.0px;
  height: 156.0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Line_2 {
  position: absolute;
  width: 2.0px;
  height: 156.0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_3 {
  position: absolute;
  width: 150.0px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_3 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #B2B2B2;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #B2B2B2;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #B2B2B2;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Image_35 {
  position: absolute;
  width: 30.0px;
  height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Image_35 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Image {
  position: absolute;
  width: 1498.5px;
  height: 588.6161104207004px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Image {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_35 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Copperplate Gothic Bold',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_35 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_35 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_35 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_35 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Copperplate Gothic Bold',Arial;
  font-size: 54.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_35 span#rtr-s-Paragraph_35_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Copperplate Gothic Bold',Arial;
  font-size: 54.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_4 {
  position: absolute;
  width: 1024.0px;
  min-height: 515.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_4 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_4 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_5 {
  position: absolute;
  width: 160.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_5 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_5 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_1 input::-webkit-input-placeholder {
  color: #494949;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_1 input::-moz-placeholder {
  color: #494949;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_1 input:-moz-placeholder {
  color: #494949;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_1 input:-ms-input-placeholder {
  color: #494949;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_1 {
  position: absolute;
  width: 450.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_1 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_1 .valign {
  vertical-align: middle;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_1 > .borderLayer {
  border-top-width: 5.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 5.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 5.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 5.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 11px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_2 input::-webkit-input-placeholder {
  color: #363636;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_2 input::-moz-placeholder {
  color: #363636;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_2 input:-moz-placeholder {
  color: #363636;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_2 input:-ms-input-placeholder {
  color: #363636;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_2 {
  position: absolute;
  width: 450.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_2 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_2 .valign {
  vertical-align: middle;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_2 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_2 > .borderLayer {
  border-top-width: 5.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 5.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 5.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 5.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 11px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_3 textarea::-webkit-input-placeholder {
  color: #424242;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_3 textarea::-moz-placeholder {
  color: #424242;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_3 textarea:-moz-placeholder {
  color: #424242;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_3 textarea:-ms-input-placeholder {
  color: #424242;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_3 {
  position: absolute;
  width: 450.0px;
  height: 121.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_3 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_3 textarea {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_3 > .borderLayer {
  border-top-width: 5.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 5.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 5.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 5.0px;
  border-left-style: solid;
  border-left-color: #000000;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Input_3 .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_4 {
  position: absolute;
  width: 213.0px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_4 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_9 {
  position: absolute;
  width: 252.0px;
  min-height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_9 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_9 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Text_9 span#rtr-s-Text_9_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_5 {
  position: absolute;
  width: 156.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_5 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_6 {
  position: absolute;
  width: 420.0px;
  min-height: 270.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_6 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_6 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Image_5 {
  position: absolute;
  width: 25.0px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Image_5 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Image_6 {
  position: absolute;
  width: 14.0px;
  height: 11.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Image_6 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Bg {
  position: absolute;
  width: 1024.0px;
  min-height: 316.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Bg {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Bg > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Bg .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Bg .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Bg span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Bg span#rtr-s-Bg_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Title {
  position: absolute;
  width: 252.0px;
  min-height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Title {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Title .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Title .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Title span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Title span#rtr-s-Title_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_6 {
  position: absolute;
  width: 213.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_6 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: center;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_6 span {
  color: #B2B2B2;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 23px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 23px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_7 {
  position: absolute;
  width: 213.0px;
  min-height: 68.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_7 {
  box-shadow: none;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: center;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_7 span {
  color: #B2B2B2;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 21px;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 21px;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-f374f1c4-8589-433f-813a-888950db4cdc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
